@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Bem vindo ao Projeto</h4>
<br/>

<ul>
    <li> <a href="/Cliente/Cadastro">Cadastrar</a> </li>
    <li> <a href="/Cliente/Consulta">Consultar</a> </li>
</ul>

